.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 550px;
  max-height: calc(100vh - 260px);
}

.title {
  margin-bottom: 60px;

  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family-title);
  letter-spacing: 0.03em;
}
